{{ '# FILE MANAGED BY ANSIBLE' if acmesh__show_ansible_management -}}

export LE_WORKING_DIR="/opt/acme.sh"
alias acme.sh="/opt/acme.sh/acme.sh"

{{ 'export DEPLOY_HAPROXY_PEM_PATH="' ~acmesh__haproxy_deploy_hook_pem_path~'"' if acmesh__enable_haproxy_deploy_hook }}
{{ 'export DEPLOY_HAPROXY_RELOAD="' ~acmesh__haproxy_deploy_reload_command~'"' if acmesh__enable_haproxy_deploy_hook }}
